{{ define "main" }}
    <p style="margin-top: 1.3rem;">
        <a href="/" style="font-weight: bold; text-decoration: none;">Jonathan Peacher</a>
    </p>
    {{ $isPost := eq .Type "posts" }}
    {{ if .Title }}<h1 style="margin-bottom: 0.5rem;">{{ .Title | safeHTML }}</h1>{{ end }}
    <div style="margin-bottom: 1.5rem;">
    {{ if .PublishDate }}
        {{ if ne .PublishDate .Lastmod }}
            <s>{{ partial "date.html" .PublishDate }}</s>
        {{ else }}
            {{ partial "date.html" .PublishDate }}
        {{ end }}
    {{ end }}
    {{ if .Lastmod }}
        {{ if ne .PublishDate .Lastmod }}
            {{ partial "date.html" .Lastmod }}
        {{ end }}
    {{ end }}
    </div>
    {{ .Content }}
    {{ if and $isPost .Site.Params.ReplyEmail }}
        <a href="mailto: {{ .Site.Params.ReplyEmail }}?subject=RE: {{ .Title }}">{{ .Site.Params.ReplyButton | default  "Reply via email" }}</a>
    {{ end }}
{{ end }}