<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jonathan Peacher</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  <link rel="stylesheet" href="css/twa.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
</head>

<body>
  <header>
    <h1>
      <a href="/">Jonathan Peacher</a>
      <i class="twa twa-waving-hand-medium-light-skin-tone"></i>
    </h1>
    <p>Software Engineer • Coffee Enthusiast • Occasional DM • Cat Dad</p>
  </header>
  <main>{% block main %}{% endblock %}</main>
  <footer>
    <nav>
      <a href="https://twitter.com/_djpeacher" target="_blank">Twitter</a>
      <a href="https://github.com/djpeacher" target="_blank">GitHub</a>
      <a href="#">Resume</a>
    </nav>
    <p>
      Made with <i class="twa twa-red-heart"></i> by
      <a href="https://twitter.com/_djpeacher" target="_blank">Jonathan</a>
    </p>
  </footer>
</body>

</html>