{% extends '_base.html' %}
{% block main %}
<script>
    function cb(response) {
        const element = document.getElementById(`${response?.namespace}/${response?.key}`)
        if (element)
            element.innerText = response.value;
    }
</script>
<script async src="https://api.countapi.xyz/info/www.djpeacher.com/index_visits?callback=cb"></script>
<script async src="https://api.countapi.xyz/info/www.djpeacher.com/resume_visits?callback=cb"></script>
<script async src="https://api.countapi.xyz/info/www.djpeacher.com/stats_visits?callback=cb"></script>
<script async
    src="https://api.countapi.xyz/info/not-wordle-just-github.djpeacher.com/index_visits?callback=cb"></script>
<script async
    src="https://api.countapi.xyz/info/not-wordle-just-github.djpeacher.com/grids_generated?callback=cb"></script>
<table class="stats">
    <thead>
        <tr>
            <th colspan="2"><a href="https://www.djpeacher.com">www.djpeacher.com</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>index_visits</td>
            <td id="www.djpeacher.com/index_visits"></td>
        </tr>
        <tr>
            <td>resume_visits</td>
            <td id="www.djpeacher.com/resume_visits"></td>
        </tr>
        <tr>
            <td>stats_visits</td>
            <td id="www.djpeacher.com/stats_visits"></td>
        </tr>
        <tr class="clear">
            <td colspan="2"></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="2"><a href="https://not-wordle-just-github.djpeacher.com"
                    target="_blank">not-wordle-just-github.djpeacher.com</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>index_visits</td>
            <td id="not-wordle-just-github.djpeacher.com/index_visits"></td>
        </tr>
        <tr>
            <td>grids_generated</td>
            <td id="not-wordle-just-github.djpeacher.com/grids_generated"></td>
        </tr>
        <tr class="clear">
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>
{% if countapi %}
<script async src="https://api.countapi.xyz/hit/www.djpeacher.com/stats_visits?callback=hit"></script>
{% endif %}
{% endblock %}